
[Unit]
Description=find wifi

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/python3 /home/spadia/masterpi-car/lumino_wifi_toolbox/hw_find.py -t MasterPi
ExecStop=/bin/systemctl kill hw_find

[Install]
WantedBy=multi-user.target


 
