[Unit]
Description=start hw-wifi

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/python3 /home/pi/hiwonder-toolbox/hw_wifi.py
ExecStop=/bin/systemctl kill hw_wifi

[Install]
WantedBy=multi-user.target


 
