[Unit]
Description=Start MasterPi

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/home/spadia/masterpi-car/lumino/MasterPi.py 
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
